---
import ProductList from "../../components/ProductList.vue";
import Layout from "../../layouts/Layout.astro";

export interface PageProps {
  title: string;
}

const { title } = Astro.params;

let apiString;
switch (title) {
  case "men":
    apiString = "men's%20clothing";
    break;
  case "women":
    apiString = "women's%20clothing";
    break;
  case "jewellery":
    apiString = "jewelery";
    break;
  case "new-arrival":
    apiString = "electronics";
    break;
}
---

<Layout>
  <h1 class="m-8 capitalize text-2xl tracking-wide">{title}</h1>
  <ProductList category={apiString} client:only="vue" />
</Layout>
