---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="flex flex-col items-center m-16">
    <h1 class="mt-12 text-center font-medium uppercase text-xl my-12">
      This page can't be found
    </h1>
    <button
      class="px-6 py-2 my-4 rounded-none bg-black hover:bg-white border border-black text-white hover:text-black transition duration-300"
      ><a href="/">Back to homepage</a></button
    >
  </section>
</Layout>
