---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="m-8">
    <h1 class="text-center text-xl sm:text-3xl font-semibold mb-8">
      .ideology
    </h1>
    <p class="italic sm:text-center">
      "An ideology is a set of beliefs or philosophies attributed to a person or
      group of persons, especially those held for reasons that are not purely
      epistemic."
    </p>
    <div
      class="flex flex-col sm:flex-row sm:items-center my-8 sm:my-0 sm:mx-16"
    >
      <img
        src="https://images.unsplash.com/photo-1595770655797-73e75891d275?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
        alt=""
        class="w-[500px] sm:mt-16 sm:mr-16"
      />
      <p class="font-light leading-6 mt-4 sm:my-0">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic magnam
        perferendis maxime praesentium doloremque accusamus necessitatibus
        voluptates non asperiores ab perspiciatis nisi incidunt eligendi,
        possimus quidem, consequuntur.
      </p>
    </div>
    <div
      class="flex flex-col sm:flex-row-reverse sm:items-center my-8 sm:my-0 sm:mx-16"
    >
      <img
        src="https://images.unsplash.com/photo-1503342296413-28a6ec3768b5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
        alt=""
        class="w-[500px] sm:mt-16 sm:ml-16"
      />
      <p class="font-light leading-6 mt-4 sm:my-0">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic magnam
        perferendis maxime praesentium doloremque accusamus necessitatibus
        voluptates non asperiores ab.
      </p>
    </div>
  </section>
</Layout>
