---
import Layout from "../layouts/Layout.astro";
import IndexMenuItem from "../components/IndexMenuItem.vue";

import wfClothing1 from "../images/clothing-2.jpeg";
import wfClothing2 from "../images/clothing-4.jpeg";

export const prerender = true;
---

<Layout>
  <main class="my-16">
    <section
      class="banner bg-cover bg-no-repeat bg-center h-[200px] sm:h-[500px] flex justify-center items-center m-8"
    >
      <h1 class="text-white text-2xl text-center font-bold">
        Welcome to .ideology
      </h1>
    </section>
    <section class="grid grid-cols-2 sm:grid-cols-5 gap-4 px-8">
      <IndexMenuItem />
    </section>
    <section
      class="banner-wf bg-cover bg-no-repeat bg-top h-[250px] sm:h-[1000px] flex justify-start items-end m-8"
    >
      <h1 class="text-blakc text-2xl text-center font-semibold p-5">
        Fall-Winter 2023/24
      </h1>
    </section>
    <section class="grid grid-cols-2 gap-4 px-8">
      <a href="https://youtu.be/N-Sl_zTV_9g" rel="noreferrer" target="_blank"
        ><img src={wfClothing2} alt="" /></a
      >
      <a href="https://youtu.be/WQv2RNq7K_c" rel="noreferrer" target="_blank"
        ><img src={wfClothing1} alt="" /></a
      >
    </section>
  </main>
</Layout>

<style>
  .banner {
    background-image: url("../images/clothing-1.jpeg");
  }
  .banner-wf {
    background-image: url("../images/clothing-3.jpeg");
  }
</style>
