---
import Footer from "../components/Footer.vue";
import Navbar from "../components/Navbar.vue";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerPolicy="no-referrer"
    />
    <meta name="generator" content={Astro.generator} />
    <title>.ideology</title>
  </head>
  <body>
    <Navbar client:load />
    <slot />
    <Footer />
  </body>
</html>
